<div class="row clear-right-margin">
  <!-- BODY SIDEBAR -->
  <%= render 'messages/shared/sidebar' %>
  <!-- END BODY SIDEBAR -->
  <!-- CONTENT -->
  <div class="col-md-10">
    <div class="inbox-body">
      <div class="inbox-header">
        <h1 class="pull-left">Compose</h1>
      </div>
      <div class="inbox-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
