<div class="row">
  <!-- BODY SIDEBAR -->
  <%= render 'messages/shared/sidebar' %>
  <!-- END BODY SIDEBAR -->
  <!-- CONTENT -->
  <div class="col-md-10">
    <div class="inbox-body">
      <div class="inbox-header">
        <h1 class="pull-left">View Message</h1>
      </div>
      <div class="inbox-content">
        <div class="inbox-header inbox-view-header">
          <h1 class="pull-left"><%= @message.subject %>
          <a href="javascript:;"> Inbox </a>
          </h1>
          <div class="pull-right">
            <a href="javascript:;" class="btn btn-icon-only dark btn-outline">
              <i class="fa fa-print"></i>
            </a>
          </div>
        </div>
        <div id="message" class="row">
          <%= render partial: 'message', locals: { message: @message } %>
        </div>
        <div id="threads" class="row">
          <%= render partial: 'message', collection: @replies %>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>

