<p class="hint"> Enter your personal details below: </p>
<%= f.fields_for :profile, resource.build_profile do |p| %>
  <div class="form-group">
    <%= p.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control placeholder-no-fix" %>
  </div>
  <div class="form-group">
    <%= p.text_field :last_name, placeholder: "Last Name", class: "form-control placeholder-no-fix" %>
  </div>
  <div class="form-group">
    <%= p.text_field :username, autocomplete: "off", placeholder: "Username", class: "form-control placeholder-no-fix" %>
  </div>
<% end %>
