<div class="inbox-info-btn text-center">
  <div class="btn-group">
    <button data-messageid="<%= @message.id %>" class="btn blue action-btn margin-right-10">
      <i class="fa fa-reply"></i> Reply
    </button>
    <button data-messageid="<%= @message.id %>" class="btn blue action-btn">
      <i class="fa fa-trash-o"></i> Delete
    </button>
  </div>
</div>
