<div class="col-md-2">
  <div class="inbox-sidebar">
    <a href="compose.html" data-title="Compose" class="btn red compose-btn btn-block">
    <i class="fa fa-edit"></i> Compose </a>
    <ul class="inbox-nav">
      <li class="active">
        <%= link_to root_path, data: { type: "inbox", title: "Inbox" } do %>
          Inbox <span class="badge badge-success">3</span>
        <% end %>
      </li>
      <li>
        <a href="important.html" data-type="important" data-title="Inbox"> Important </a>
      </li>
      <li>
        <a href="sent.html" data-type="sent" data-title="Sent"> Sent </a>
      </li>
      <li>
        <a href="draft.html" data-type="draft" data-title="Draft"> Draft
          <span class="badge badge-danger">8</span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="trash.html" class="sbold uppercase" data-title="Trash"> Trash
          <span class="badge badge-info">23</span>
        </a>
      </li>
    </ul>
    <ul class="inbox-contacts">
      <li class="divider margin-bottom-30"></li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar4.jpg">
          <span class="contact-name">Adam Stone</span>
        </a>
      </li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar2.jpg">
          <span class="contact-name">Lisa Wong</span>
        </a>
      </li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar6.jpg">
          <span class="contact-name">Anna Bold</span>
        </a>
      </li>
    </ul>
  </div>
</div>
