@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome";
@import "simple-line-icons";

/*** COMPONENTS ROUNDED MIN CSS ***/

/* l 1 */
html{
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif
}
/* l 11 */
.bold.btn,
.sbold.btn {
  letter-spacing: 0
}
/* l 16 */
body {
  color: #333;
  padding: 0!important;
  margin: 0!important;
  direction: "ltr";
  font-size: 14px;
  height: 100%;
}
/* l 452 */
.badge,
.input-inline {
  vertical-align: middle
}
/* l 1081 */
hr,
p {
  margin: 20px 0
}
/* l 1131 */
label {
  font-weight: 400
}
/* l 1135 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300
}
/* l 1151 - 1189 */
h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #444
}

/* l 1194 */
a {
  text-shadow: none;
  color: #337ab7
}
/* l 1199 */
a:hover {
  cursor: pointer;
  color: #23527c
}
/* l 1204 */
a:active,
a:focus,
a:hover {
  outline: 0
}
/* l 1227 */
.btn,
.form-control {
  box-shadow: none!important
}
/* l 1280 */
.display-hide,
.display-none {
  display: none
}
/* l 1285 */
.hidden {
  display: none!important
}
/* l 1289 */
.bold {
  font-weight: 700!important
}
/* l 1293 */
.sbold {
  font-weight: 600!important
}
/* l 1301 */
.uppercase {
  text-transform: uppercase!important
}
/* l 1345 - 1402 */
.no-space {
  margin: 0!important;
  padding: 0!important
}

.no-margin {
  margin: 0
}

.margin-bottom-5 {
  margin-bottom: 5px
}

.margin-bottom-10 {
  margin-bottom: 10px!important
}

.margin-top-10 {
  margin-top: 10px!important
}

.margin-top-15 {
  margin-top: 15px!important
}

.margin-bottom-15 {
  margin-bottom: 15px!important
}

.margin-bottom-20 {
  margin-bottom: 20px!important
}

.margin-top-20 {
  margin-top: 20px!important
}

.margin-top-30 {
  margin-top: 30px!important
}

.margin-top-40 {
  margin-top: 40px!important
}

.margin-bottom-25 {
  margin-bottom: 25px!important
}

.margin-bottom-30 {
  margin-bottom: 30px!important
}

.margin-bottom-40 {
  margin-bottom: 40px!important
}

.margin-right-5 {
  margin-right: 5px!important
}

.margin-right-10 {
  margin-right: 10px!important
}

/* l 1733 */
li [class*=" fa-"],
li [class*=" glyphicon-"],
li [class*=" icon-"],
li [class^=fa-],
li [class^=glyphicon-],
li [class^=icon-] {
  display: inline-block;
  width: 1.25em;
  text-align: center
}
/* l 1749 */
li [class*=" icon-"],
li [class^=icon-] {
  top: 1px;
  position: relative
}
/* l 1801 */
.badge-danger,
.badge-default,
.badge-info,
.badge-primary,
.badge-success,
.badge-warning,
.btn.white:not(.btn-outline).active,
.btn.white:not(.btn-outline):active,
.open>.btn.white:not(.btn-outline).dropdown-toggle {
  background-image: none
}
/* l 1876 */
.badge-default,
.label-default {
  background-color: #bac3d0
}
/* l 1899 */
.badge {
  font-size: 11px!important;
  font-weight: 300;
  height: 18px;
  color: #fff;
  padding: 3px 6px;
  -webkit-border-radius: 12px!important;
  -moz-border-radius: 12px!important;
  border-radius: 12px!important;
  text-shadow: none!important;
  text-align: center
}
/* l 1926 - 1942 */
.badge-primary {
  background-color: #337ab7
}

.badge-info {
  background-color: #659be0
}

.badge-success {
  background-color: #36c6d3
}

.badge-danger {
  background-color: #ed6b75
}

.badge-warning {
  background-color: #F1C40F
}
/* l 1964 */
.btn {
  outline: 0!important
}
/* l 1968 */
.btn:hover {
  transition: all .3s
}
/* l 1972 */
.btn:not(.btn-sm):not(.btn-lg) {
  line-height: 1.44
}
/* l 1989 */
.btn.white:not(.btn-outline).active,
.btn.white:not(.btn-outline):active,
.btn.white:not(.btn-outline):hover,
.open>.btn.white:not(.btn-outline).dropdown-toggle {
  color: #666;
  background-color: #e6e6e6;
  border-color: #e0e0e0
}
/* l 2051 */
.btn.default:not(.btn-outline) {
  color: #666;
  background-color: #e1e5ec;
  border-color: #e1e5ec
}
/* l 2057 */
.btn.default:not(.btn-outline).focus,
.btn.default:not(.btn-outline):focus {
  color: #666;
  background-color: #c2cad8;
  border-color: #93a1bb
}
/* l 2064 */
.btn.default:not(.btn-outline).active,
.btn.default:not(.btn-outline):active,
.btn.default:not(.btn-outline):hover,
.open>.btn.default:not(.btn-outline).dropdown-toggle {
  color: #666;
  background-color: #c2cad8;
  border-color: #bcc5d4
}
/* l 2073 - 2128 */
.btn.default:not(.btn-outline).active.focus,
.btn.default:not(.btn-outline).active:focus,
.btn.default:not(.btn-outline).active:hover,
.btn.default:not(.btn-outline):active.focus,
.btn.default:not(.btn-outline):active:focus,
.btn.default:not(.btn-outline):active:hover,
.open>.btn.default:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.default:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.default:not(.btn-outline).dropdown-toggle:hover {
  color: #666;
  background-color: #acb7ca;
  border-color: #93a1bb
}

.btn.default:not(.btn-outline).active,
.btn.default:not(.btn-outline):active,
.open>.btn.default:not(.btn-outline).dropdown-toggle {
  background-image: none
}

.btn.default:not(.btn-outline).disabled.focus,
.btn.default:not(.btn-outline).disabled:focus,
.btn.default:not(.btn-outline).disabled:hover,
.btn.default:not(.btn-outline)[disabled].focus,
.btn.default:not(.btn-outline)[disabled]:focus,
.btn.default:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.default:not(.btn-outline).focus,
fieldset[disabled] .btn.default:not(.btn-outline):focus,
fieldset[disabled] .btn.default:not(.btn-outline):hover {
  background-color: #e1e5ec;
  border-color: #e1e5ec
}

.btn.default:not(.btn-outline) .badge {
  color: #e1e5ec;
  background-color: #666
}

.btn.btn-outline.default {
  border-color: #e1e5ec;
  color: #e1e5ec;
  background: 0 0
}

.btn.btn-outline.default.active,
.btn.btn-outline.default:active,
.btn.btn-outline.default:active:focus,
.btn.btn-outline.default:active:hover,
.btn.btn-outline.default:focus,
.btn.btn-outline.default:hover {
  border-color: #e1e5ec;
  color: #666;
  background-color: #e1e5ec
}

.btn.default-stripe {
  border-left: 4px solid #e1e5ec!important
}

/* l 2213 - 2271 */
.btn.blue:not(.btn-outline) {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc
}

.btn.blue:not(.btn-outline).focus,
.btn.blue:not(.btn-outline):focus {
    color: #FFF;
    background-color: #217ebd;
    border-color: #15527c
}

.btn.blue:not(.btn-outline).active,
.btn.blue:not(.btn-outline):active,
.btn.blue:not(.btn-outline):hover,
.open>.btn.blue:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #217ebd;
    border-color: #1f78b5
}

.btn.blue:not(.btn-outline).active.focus,
.btn.blue:not(.btn-outline).active:focus,
.btn.blue:not(.btn-outline).active:hover,
.btn.blue:not(.btn-outline):active.focus,
.btn.blue:not(.btn-outline):active:focus,
.btn.blue:not(.btn-outline):active:hover,
.open>.btn.blue:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:hover {
    color: #FFF;
    background-color: #1c699f;
    border-color: #15527c
}

.btn.blue:not(.btn-outline).active,
.btn.blue:not(.btn-outline):active,
.open>.btn.blue:not(.btn-outline).dropdown-toggle {
    background-image: none
}

.btn.blue:not(.btn-outline).disabled.focus,
.btn.blue:not(.btn-outline).disabled:focus,
.btn.blue:not(.btn-outline).disabled:hover,
.btn.blue:not(.btn-outline)[disabled].focus,
.btn.blue:not(.btn-outline)[disabled]:focus,
.btn.blue:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue:not(.btn-outline).focus,
fieldset[disabled] .btn.blue:not(.btn-outline):focus,
fieldset[disabled] .btn.blue:not(.btn-outline):hover {
    background-color: #3598dc;
    border-color: #3598dc
}

.btn.blue:not(.btn-outline) .badge {
    color: #3598dc;
    background-color: #FFF
}

/* l 2273 */
.btn.btn-outline.blue {
  border-color: #3598dc;
  color: #3598dc;
  background: 0 0
}
/* l 2279 */
.btn.btn-outline.blue.active,
.btn.btn-outline.blue:active,
.btn.btn-outline.blue:active:focus,
.btn.btn-outline.blue:active:hover,
.btn.btn-outline.blue:focus,
.btn.btn-outline.blue:hover {
  border-color: #3598dc;
  color: #FFF;
  background-color: #3598dc
}
/* l 2942 - 3021 */
.btn.green:not(.btn-outline) {
  color: #FFF;
  background-color: #32c5d2;
  border-color: #32c5d2
}

.btn.green:not(.btn-outline).focus,
.btn.green:not(.btn-outline):focus {
  color: #FFF;
  background-color: #26a1ab;
  border-color: #18666d
}

.btn.green:not(.btn-outline).active,
.btn.green:not(.btn-outline):active,
.btn.green:not(.btn-outline):hover,
.open>.btn.green:not(.btn-outline).dropdown-toggle {
  color: #FFF;
  background-color: #26a1ab;
  border-color: #2499a3
}

.btn.green:not(.btn-outline).active.focus,
.btn.green:not(.btn-outline).active:focus,
.btn.green:not(.btn-outline).active:hover,
.btn.green:not(.btn-outline):active.focus,
.btn.green:not(.btn-outline):active:focus,
.btn.green:not(.btn-outline):active:hover,
.open>.btn.green:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green:not(.btn-outline).dropdown-toggle:hover {
  color: #FFF;
  background-color: #1f858e;
  border-color: #18666d
}

.btn.green:not(.btn-outline).active,
.btn.green:not(.btn-outline):active,
.open>.btn.green:not(.btn-outline).dropdown-toggle {
  background-image: none
}

.btn.green:not(.btn-outline).disabled.focus,
.btn.green:not(.btn-outline).disabled:focus,
.btn.green:not(.btn-outline).disabled:hover,
.btn.green:not(.btn-outline)[disabled].focus,
.btn.green:not(.btn-outline)[disabled]:focus,
.btn.green:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green:not(.btn-outline).focus,
fieldset[disabled] .btn.green:not(.btn-outline):focus,
fieldset[disabled] .btn.green:not(.btn-outline):hover {
  background-color: #32c5d2;
  border-color: #32c5d2
}

.btn.green:not(.btn-outline) .badge {
  color: #32c5d2;
  background-color: #FFF
}

.btn.btn-outline.green {
  border-color: #32c5d2;
  color: #32c5d2;
  background: 0 0
}

.btn.btn-outline.green.active,
.btn.btn-outline.green:active,
.btn.btn-outline.green:active:focus,
.btn.btn-outline.green:active:hover,
.btn.btn-outline.green:focus,
.btn.btn-outline.green:hover {
  border-color: #32c5d2;
  color: #FFF;
  background-color: #32c5d2
}

.btn.green-stripe {
  border-left: 4px solid #32c5d2!important
}

/* l 4400 */
.btn.red:not(.btn-outline) {
  color: #fff;
  background-color: #e7505a;
  border-color: #e7505a
}
/* l 4415 */
.btn.red:not(.btn-outline).active,
.btn.red:not(.btn-outline):active,
.btn.red:not(.btn-outline):hover,
.open>.btn.red:not(.btn-outline).dropdown-toggle {
  color: #fff;
  background-color: #e12330;
  border-color: #dc1e2b
}
/* l 6921 - 7006 */
.dropdown-menu {
  box-shadow: 5px 5px rgba(102, 102, 102, .1);
  left: 0;
  min-width: 175px;
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0;
  background-color: #fff;
  margin: 10px 0 0;
  border: 1px solid #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px
}
.dropdown-menu li.divider {
  background: #f1f3f6
}

.dropdown-menu li.header {
  padding: 8px 14px 2px
}

.dropdown-menu>li>a {
  padding: 8px 16px;
  color: #6f6f6f;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap
}

.dropdown-menu>li>a>[class*=" fa-"],
.dropdown-menu>li>a>[class^=fa-] {
  color: #888
}

.dropdown-menu>li>a>[class*=" icon-"],
.dropdown-menu>li>a>[class^=icon-] {
  color: #666
}

.dropdown-menu>li>a>[class*=" glyphicon-"],
.dropdown-menu>li>a>[class^=glyphicon-] {
  color: #888
}

.dropdown-menu>li.active:hover>a,
.dropdown-menu>li.active>a,
.dropdown-menu>li:hover>a {
  text-decoration: none;
  background-image: none;
  background-color: #f6f6f6;
  color: #555;
  filter: none
}

.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px
}

.dropdown-menu.bottom-up:after,
.dropdown-menu.bottom-up:before {
  display: none
}

.dropdown-menu>li:first-child:hover>a {
  border-radius: 4px 4px 0 0
}

.dropdown-menu>li:last-child:hover>a {
  border-radius: 0 0 4px 4px
}

.dropdown-hover:hover>.dropdown-menu {
  display: block
}
/* l 7010 */
.btn-group>.dropdown-menu,
.dropdown-toggle>.dropdown-menu,
.dropdown>.dropdown-menu {
  margin-top: 10px
}
/* l 7016 */
.btn-group>.dropdown-menu:before,
.dropdown-toggle>.dropdown-menu:before,
.dropdown>.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: 9px;
  right: auto;
  display: inline-block!important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: ''
}
/* l 7030 */
.btn-group>.dropdown-menu:after,
.dropdown-toggle>.dropdown-menu:after,
.dropdown>.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: 10px;
  right: auto;
  display: inline-block!important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: ''
}
/* l 7088 */
.dropdown-toggle:after {
  display: none
}
/* l 7139 */
.nav.pull-right>li>.dropdown-menu,
.nav>li>.dropdown-menu.pull-right {
  right: 0;
  left: auto
}
/* l 7145 */
.nav.pull-right>li>.dropdown-menu:before,
.nav>li>.dropdown-menu.pull-right:before {
  right: 12px;
  left: auto
}
/* l 7151 */
.nav.pull-right>li>.dropdown-menu:after,
.nav>li>.dropdown-menu.pull-right:after {
  right: 13px;
  left: auto
}
/* l 7327 */
td>.mt-checkbox.mt-checkbox-single,
td>.mt-radio.mt-radio-single,
th>.mt-checkbox.mt-checkbox-single,
th>.mt-radio.mt-radio-single {
  right: -5px
}

/* l 8529 */
.mt-checkbox>input,
.mt-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0)
}
/* l 8548 */
.mt-checkbox>span:after,
.mt-radio>span:after {
  content: '';
  position: absolute;
  display: none
}
/* l 8506 */
.mt-checkbox,
.mt-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
/* l 8537 */
.mt-checkbox>span,
.mt-radio>span {
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background: #E6E6E6
}
/* l 8548 */
.mt-checkbox>span:after,
.mt-radio>span:after {
  content: '';
  position: absolute;
  display: none
}
/* l 8555 */
.input-icon>i,
.mt-checkbox-list .mt-checkbox,
.mt-checkbox-list .mt-radio,
.mt-checkbox>input:checked~span:after,
.mt-radio-list .mt-checkbox,
.mt-radio-list .mt-radio,
.mt-radio>input:checked~span:after {
  display: block
}
/* l 8609 */
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-checkbox-outline>input:checked~span,
.mt-checkbox.mt-checkbox-outline>input:focus~span,
.mt-checkbox.mt-checkbox-outline>span,
.mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-radio-outline>input:checked~span,
.mt-checkbox.mt-radio-outline>input:focus~span,
.mt-checkbox.mt-radio-outline>span,
.mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-radio.mt-checkbox-outline>input:checked~span,
.mt-radio.mt-checkbox-outline>input:focus~span,
.mt-radio.mt-checkbox-outline>span,
.mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span,
.mt-radio.mt-radio-outline:hover>input:not([disabled])~span,
.mt-radio.mt-radio-outline>input:checked~span,
.mt-radio.mt-radio-outline>input:focus~span,
.mt-radio.mt-radio-outline>span {
  border: 1px solid #d9d9d9;
  background: 0 0
}
/* l 8658 */
.mt-checkbox>span:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #666;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg)
}
/* l 9576 */
.dashboard-stat,
.portlet {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px
}
/* l 9641 */
.portlet {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 4px
}
/* l 9671 */
.portlet>.portlet-title {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
  min-height: 41px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0
}
/* l 9683 */
.portlet>.portlet-title:after,
.portlet>.portlet-title:before {
  content: " ";
  display: table
}
/* l 9689 */
.portlet>.portlet-title:after {
  clear: both
}
/* l 9693 */
.portlet>.portlet-title>.caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0
}
/* l 9871 - 9879 */
.portlet>.portlet-title>.nav-tabs {
  background: 0 0;
  margin: 1px 0 0;
  float: right;
  display: inline-block;
  border: 0
}
.portlet>.portlet-title>.nav-tabs>li {
  background: 0 0;
  margin: 0;
  border: 0
}
/* l 9885 */
.portlet>.portlet-title>.nav-tabs>li>a {
  background: 0 0;
  margin: 5px 0 0 1px;
  border: 0;
  padding: 8px 10px;
  color: #fff
}
/* l 9893 */
.portlet>.portlet-body p,
.table .btn {
  margin-top: 0
}
/* l 9898 */
.portlet>.portlet-title>.nav-tabs>li.active>a,
.portlet>.portlet-title>.nav-tabs>li:hover>a {
  color: #333;
  background: #fff;
  border: 0
}
/* l 10004 */
.portlet.light {
  padding: 12px 20px 15px;
  background-color: #fff
}
/* l 10021 */
.portlet.light>.portlet-title {
  padding: 0;
  min-height: 48px
}
/* l 10026 */
.portlet.light>.portlet-title>.caption {
  color: #666;
  padding: 10px 0
}
/* l 10031 */
.portlet.light>.portlet-title>.caption>.caption-subject {
  font-size: 16px
}
/* l 10101 */
.portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
  font-size: 15px
}
/* l 10158 */
.portlet.light>.portlet-title>.nav-tabs>li {
  margin: 0;
  padding: 0
}
/* l 10163 */
.portlet.light>.portlet-title>.nav-tabs>li>a {
  margin: 0;
  padding: 12px 13px 13px;
  font-size: 13px;
  color: #666
}
/* l 10170 */
.portlet.light>.portlet-title>.nav-tabs>li.active>a,
.portlet.light>.portlet-title>.nav-tabs>li:hover>a {
  margin: 0;
  background: 0 0;
  color: #333
}
/* l 16745 */
.table td,
.table th {
  font-size: 14px
}
/* l 16855 */
.table .btn {
  margin-left: 0;
  margin-right: 5px
}
/* l 16860 */
.table thead tr th {
  font-size: 14px;
  font-weight: 600
}
/* l 16873 */
.table-advance thead tr th {
  background-color: #f1f4f7;
  font-size: 14px;
  font-weight: 400;
  color: #3f444a
}
/* l 16986 */
.nav-pills,
.nav-tabs {
  margin-bottom: 10px
}
/* l 16991 */
.nav-pills>li>a,
.nav-tabs>li>a {
  font-size: 14px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0
}
/* l 17286 */
.tabbable-line>.nav-tabs {
  border: none;
  margin: 0
}
/* l 17309 */
.tabbable-line>.nav-tabs>li.active {
  background: 0 0;
  border-bottom: 4px solid #36c6d3;
  position: relative
}
/* l 17315 */
.tabbable-line>.nav-tabs>li.active>a {
  border: 0;
  color: #333
}
/* l 17291 */
.tabbable-line>.nav-tabs>li {
  margin: 0;
  border-bottom: 4px solid transparent
}
/* l 17296 */
.tabbable-line>.nav-tabs>li>a {
  background: 0 0!important;
  border: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #737373
}
/* l 25793 */
.font-blue-madison {
  color: #578ebe!important
}
/* l 26195 */
.bg-green {
  background: #32c5d2!important
}
/* l 27131 */
.bg-red {
  background: #e7505a!important
}
/* l 27599 */
.bg-yellow {
  background: #c49f47!important
}

/*** LAYOUT MIN CSS ***/

/* l 10 */
.pace .pace-progress,
.pace .pace-progress-inner,
.page-header.navbar,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list>li .progress .progress-bar {
  box-shadow: none
}
/* l 41 */
.page-header.navbar {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  height: 50px;
  min-height: 50px;
  filter: none;
  background-image: none
}
/* l 52 */
.page-header.navbar.navbar-fixed-top,
.page-header.navbar.navbar-static-top {
  position: static!important;
  z-index: 9995
}
/* l 57 */
.page-header.navbar .page-logo {
  float: left;
  display: block;
  width: 235px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px
}
/* l 76 */
.page-header.navbar .page-logo .logo-default {
  margin: 12px 0 0
}
/* l 236 */
.page-header.navbar .top-menu {
  margin: 0;
  padding: 0;
  float: right
}
/* l 242 */
.page-header.navbar .top-menu .navbar-nav {
  padding: 0;
  margin-right: 20px;
  display: block
}
/* l 248 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown {
  margin: 0;
  padding: 0 4px;
  height: 50px;
  display: inline-block
}
/* l 259 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
  margin: 0;
  padding: 19px 10px 10px
}
/* l 268 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i {
  font-size: 17px
}
/* l 276 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 300;
  padding: 3px 6px
}
/* l 289 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu {
  margin-top: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px
}
/* l 298 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block!important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, .2);
  content: ''
}
/* l 310 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block!important;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: ''
}
/* l 321 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu>li>a {
  color: #555
}

/* l 500 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
  padding: 16px 6px 13px 8px
}
/* l 504 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
  display: inline-block;
  font-size: 13px;
  font-weight: 300
}
/* l 510 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
  float: left;
  margin-top: -5px;
  margin-right: 5px;
  height: 29px;
  display: inline-block;
}
/* l 518 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>i {
  display: inline-block;
  margin: 0;
  font-size: 13px;
}
/* l 524 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu {
  width: 175px;
}
/* l 528 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a {
  font-size: 14px;
  font-weight: 300;
}
/* l 533 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a i {
  width: 15px;
  display: inline-block;
  margin-right: 9px;
}
/*** DARKBLUE MIN CSS ***/

/* l 1 */
.page-header.navbar {
  background-color: #2b3643;
}
/* l 5 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
  color: #79869a;
}
/* l 9 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
  background-color: #36c6d3;
  color: #fff;
}
/* l 14 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
  background-color: #3f4f62;
}

/* l 79 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
  color: #c6cfda;
}
/* l 89 */
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
  width: 195px;
}


/*********** CUSTOM ************/

img.inbox-author{
  width: 5%;
}
div.flash-msg{
  p{
    margin: 0!important;
    background-color: #364150!important;
  }
}

button.action-btn {
  padding: 5px 15px;
  margin: 15px 15px;
}

.clear-right-margin {
  margin-right: 0;
}
