<div class="body" style="width:100% !important; height:100%; margin:0; line-height:1.4; background-color:#F2F4F6; color:#74787E; -webkit-text-size-adjust:none;">
  <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0; background-color:#F2F4F6;">
    <tr>
      <td align="center">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0;">
          <!-- Logo -->
          <tr>
            <td class="email-masthead" style="padding:25px 0; text-align:center;">
              <a class="email-masthead_name" style="font-size:16px; font-weight:bold; color:#bbbfc3; text-decoration:none;text-shadow:0 1px 0 white;">MiaVision | Mailbox</a>
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="email-body" width="100%" style="width:100%; margin:0; padding:0; border-top:1px solid #EDEFF2; border-bottom:1px solid #EDEFF2; background-color:#FFF;">
              <table class="email-body_inner" style="width:570px; margin:0 auto; padding:0;" align="center" width="570" cellpadding="0" cellspacing="0">
                <!-- Body content -->
                <tr>
                  <td class="content-cell" style="padding:35px;">
                    <h1 style="margin-top:0; color:#2F3133; font-size:19px; font-weight:bold; text-align:left;">Hi <%= @resource.email %>,</h1>
                    <p style="margin-top:0; color:#74787E; font-size:16px; line-height:1.5em; text-align:left;">We're contacting you to notify you that your password has been changed.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-cell">
                    <p class="sub center" style="margin-top: 0; color: #74787E; line-height:1.5em; font-size:12px; text-align:center;">&copy; 2016 MiaVision. All rights reserved.</p>
                    <p class="sub center" style="margin-top: 0; color: #74787E; line-height:1.5em; font-size:12px; text-align:center;">
                      MiaVision
                      <br>Atik Mahala
                      <br>75 000 Tuzla
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

